---
layout: default
---

<div class="row">
      <h2 class="items-hdr">Free Colorado Items</h2>
</div>

<!--
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>
-->
<div class="row">

  {% for post in site.data.posts.results %}
     <div class="col s12 m3">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{post.img_link}}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">{{post.title | truncate:12}}<i class="material-icons right">more_vert</i></span>
      <p>{{post.city}}, {{post.state}}</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{post.title}}<i class="material-icons right">close</i></span>
      <div class="divider"></div>
      <br>
      <p>Category: {{post.category}}</p>
      {% if post.description.blank? %}
          <p>Description: </p>
          <p>{{post.description}}</p>
      {% endif %}
    
        <span class="card-title grey-text text-darken-4" style="text-align:center;">Get Item</span>
      <div class="divider"></div>
       <br>
        <a class="waves-effect waves-light btn" target="_blank" href="https://play.google.com/store/apps/details?id=com.rfbyte.localgiving" style="text-decoration: none !important;">Android App</a>
        <br>
        <br>
        <a class="waves-effect waves-light btn" target="_blank" href="http://www.ummatna.com/#!localgiving/qh5j1" style="text-decoration: none !important;">IOS Beta</a>

        
    </div>
  </div>
</div>
{% endfor %}

</div>

